<!DOCTYPE html>

<html lang="en" ng-app="myApp" class="no-js">
<head>
  <meta charset="utf-8">
  <title>Clientes</title>
</head>
<body>
    <div>
    <h2> Clientes </h2>

    <p>
        Filtrar:  <input type="text" ng-model="customerfilter"/>
    </p>

    <table  class="table" >
        <tr>
            <th>Nombre</th>
            <th>Ciudad</th>
            <th>Saldo Disponible </th>
        </tr>
        <tr ng-repeat="onecustomer in allcustomers | filter:customerfilter" 
            ng-click="showSelectedElement(onecustomer)"
            ng-class-even="'even'"
            ng-class-odd="'odd'"
            >
            <td>{{onecustomer.name}}</td>
            <td>{{onecustomer.city}}</td>
            <td>{{onecustomer.saldo}}</td>
        </tr>
    </table>
    </div>    
</body>
</html>